body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button{
    background: teal;
    padding: 1em 2em;
    color: whitesmoke;
    border: 0;
}

.button:hover{
    background: yellow;
    color: black;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: whitesmoke;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0,0,0.17);
    animation-name: modalopen;
    animation-duration: 2s;
}

.modal-header h2, .modal-footer h3{
    margin: 0;
}

.modal-header{
    background: yellowgreen;
    padding: 15px;
    color: black;
}

.modal-body{
    padding: 10px 20px;
}

.modal-footer{
    background: yellowgreen;
    padding: 10px;
    color: black;
    text-align: center;
}

.closeBtn{
    color: black;
    float: right;
    font-size: 40px;
}

.closeBtn:hover,.closeBtn:focus{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0}
    to {opacity: 2}
}